body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

h1 {
    color: #333;
}

.todo-input {
    margin-bottom: 20px;
}

input[type="text"], input[type="datetime-local"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

li.completed {
    text-decoration: line-through;
}

.task-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button.edit, button.delete {
    margin-left: 10px;
    border: none;
    background-color: #ff5733;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button.edit {
    background-color: #ffc107;
}

button:hover {
    opacity: 0.8;
}
